* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
	box-sizing: border-box;
}

*:focus {
	border-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

